ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin:35%;
}
#item_1{
    margin-top: 3vh;
}
a{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30vw;
}
#buttons a{
    width: 15vw;
}
.google {
    height: 7.5vh;
}

ion-button {
    margin-top: 15vw;
}