<ion-app>
  <ion-menu side="start" (ionWillOpen)="menuOpened()" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div id="myturn"><img class="ticket" src="assets/ticketAcc.png"></div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['/accueil']"><span>Accueil</span></ion-item>
          <ion-item  button (click)="click()"><span>File d'Attente</span></ion-item>
          <ion-item  button [routerLink]="['/inscription']"><span>Inscription</span></ion-item>
          <div id="deconnexion">
            <ion-item class="change" button (click)="buttonDeconnection()"><span>Connexion</span></ion-item>
            <ion-icon name="log-out" md="md-log-out" class="deconnect"><span></span></ion-icon>
          </div>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>