<ion-app>
  <ion-menu side="start" (ionWillOpen)="menuOpened()" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div id="myturn"><img class="ticket" src="assets/ticketAcc.png"></div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['/accueil']">Accueil</ion-item>
          <ion-item button (click)="click()">File d'Attente</ion-item>
          <ion-item button [routerLink]="['/connexion']">Connexion</ion-item>
          <ion-item button [routerLink]="['/inscription']">Inscription</ion-item>
          <div id="deconnexion">
            <ion-item class="change" button (click)="buttonDeconnection()">Connexion</ion-item>
            <ion-icon name="log-out" md="md-log-out" class="deconnect"></ion-icon>
          </div>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>