
ion-title {
    margin-left: -20vw;
    font-size: 12vw;
}
ion-menu-button{
    color: red;    
    font-size: 13vw;
}
ion-menu-toggle {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

ion-item{
    color: rgb(134, 92, 92);    
    font-size: 7vw;

}
#deconnexion{
    display: flex;
    flex-direction: row;
}
.deconnect{
    height: 10vw;
    width: 10vw;
    margin-top: 3vw;
}
p{
    color: rgb(134, 92, 92);  
    font-size: 7vw;
    margin-left: 3.5vw;
    margin-top: 3.5vw;
}

