
ion-title {
    margin-left: -20vw;
    font-size: 12vw;
}
ion-menu-button{
    color: red;    
    font-size: 13vw;
}
ion-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-item{
    color: rgb(134, 92, 92);    
    font-size: 7vw;

}