a{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25%;
    
}


#facebook{
    background-color:#39569a;
    color:white;
    font-weight:bolder;
    border-radius:10%;
    width: 25vw;
    height:8vh;
}
#google{
    background-color: #d54835;
    color:white;
    font-weight:bolder;
    border-radius:10%;
    width: 25vw;
    height:8vh;
}

#twitter{
    background-color: #65c4e6;
    color:white;
    font-weight:bolder;
    border-radius:10%;
    width: 25vw;
    height:8vh;
}


ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin:35%;

}