a{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0vw;
}
#buttons a{
    width: 15vw;
}

ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin:35vw;
    margin-top: 15vw;

}
.google {
    height: 7.5vh;
}
#float{
    margin-top: 10vw;
}
.ou{
    text-align: center;
}
#mdp{
    margin-top: 0vw;
}
.count{
    margin-top:-15vw;
}
