a{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 10vw;
 
}
#buttons a{
    width: 15vw;
}

ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin:35vw;
    margin-top: 15vw;

}
#float{
    margin-top: 10vw;
}
.ou{
    text-align: center;
}