


#body {    
    height: 86vh;
}

#head {
    width: 80vw;    
    height: 6vh;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
}
#main {
    height: 76vh;
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
}
#haut {
    display: flex;
}
#hautGauche {
    width: 67vw;
}

#hautDroite {
    margin-left: 6vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Satisfy', cursive;
    font-size: 7vw;
    margin-top: 1vh;
    color: red;
}
#valeurNombre {    
    font-size: 10vw;
    visibility: hidden;
}
#valeurTemps {  
    visibility: hidden;
    margin-left: -4vw;
}
#nombre {    
    margin-bottom: 4vh;
}

#rejoindre {
    border: none;
    height: 40vh;
    width: 40vh; 
    border-radius: 50%;
    margin-left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#background {
    border: none;
    height: 45.5vh;
    width: 45.5vh;
    margin-left: -4.5vw;
    background-repeat: no-repeat;   
    background-size: cover;
    border-radius: 50%;
}


.clicked{
    background-image: url(../../assets/redbutton.png);
}
.unclicked{
    background-image: url(../../assets/bluebutton.jpg);
}

#nombre ,#temps {
    margin-left: 3vw;
    font-family: 'Satisfy', cursive;
    font-size: 7vw;
    width: 80vw;
}
#joinText {
    visibility: hidden;
    margin-top: 2vh;
    margin-left: 6vw;
    font-size: 7vw;
    color: red;
    font-family: 'Satisfy', cursive;
}

#votreTour {
    height: 76vh;
    background: rgb(188, 179, 236);
    display: none;
    align-items: center;
    justify-content: center;

}
#messageVotreTour{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 70vw;
    height: 30vh;
    color: red;
    font-size: 16vw;
    font-family: 'Satisfy', cursive;
}