<ion-header>
  <ion-toolbar>

    <ion-title>
      <div id="titre">
        <div>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
        <div id="myturn">MyTurn</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div id="main">
      <div id="haut">
        <div id="hautGauche">
          <div id="nombre">Personnes dans la file d'attente : </div>
          <div id="temps">Temps d'attente estimé : </div>
        </div>
        <div id="hautDroite">
            <div id="valeurNombre"></div>
            <div id="valeurTemps">12min 45s</div>
          </div>
      </div>
      <div id="rejoindre">
        <div id="background" class="unclicked" (click)='button()'></div>
      </div>
    </div>
  </div>
</ion-content>