


#body {    
    height: 86vh;
}

#head {
    width: 80vw;    
    height: 6vh;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
}
#main {
    height: 76vh;
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
}
#haut {
    display: flex;
}
#hautGauche {
    width: 100vw;
}

#valeurNombre {    
    font-size: 10vw;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Satisfy', cursive;
    color: red;
    text-align: center;
}
#valeurTemps {  
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Satisfy', cursive;
    font-size: 6vw;
    margin-top: 1vh;
    color: red;
    text-align: center;
}
#nombre {    
    margin-top: 10vw;
}

#rejoindre {
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#background {
    height: 22vh;
    width: 22vh;
    background-repeat: no-repeat;   
    background-size: 22vh 21.5vh;
}
.clicked{
    background-image: url(../../assets/red2.png);
}
.unclicked{
    background-image: url(../../assets/blue2.png);
}

#nombre ,#temps {
    
    font-family: 'Satisfy', cursive;
    font-size: 6vw;
    width: 100vw;
    text-align: center;
}
#joinText {
    visibility: hidden;
    margin-top: 2vh;
    margin-left: 6vw;
    font-size: 7vw;
    color: red;
    font-family: 'Satisfy', cursive;
}

#votreTour {
    height: 76vh;
    background: rgb(188, 179, 236);
    display: none;
    align-items: center;
    justify-content: center;

}
#messageVotreTour{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 70vw;
    height: 30vh;
    color: red;
    font-size: 16vw;
    font-family: 'Satisfy', cursive;
}

.ticket{
    width: 35vw;
    height:13vh;
    margin-top: 7vw;
   }