<ion-header>
  <ion-toolbar>

    <ion-title>
      <div id="titre">
        <div>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
        <div id="myturn"><img class="ticket" src="assets/ticketAcc.png" /></div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div id="main">
      <div id="haut">
        <div id="hautGauche">
          <div id="nombre">Personne(s) dans la file d'attente : </div>
          <div id="temps">Temps d'attente estimé : </div>
        </div>
        <div id="hautDroite">
            <div id="valeurNombre">&nbsp;</div>
            <div id="valeurTemps"><p *ngIf="hidevalue==false"> {{maxTime}}</p></div>
          </div>
      </div>
      <div id="rejoindre">
        <div id="background" class="unclicked" (click)='button()'></div>
      </div>      
      <div id="joinText">&nbsp;</div>
    </div>
    <div id="votreTour">
      <div id="messageVotreTour"><div>C'est votre </div><div>Tour</div><div> !!!</div></div>
    </div>
  </div>
</ion-content>