<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="titre">
        <div>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
      <div id="myturn"><img class="ticket" src="assets/ticketAcc.png"></div>
      </div>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="float">
      <ion-label position="floating">New Password</ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item >
      <ion-label position="floating">New Confirm Password </ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="connexion()">Submit</ion-button>
</ion-content>
