<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="titre">
        <div>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
        <div id="myturn">MyTurn</div>
      </div>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
