<link
  href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"
  rel="stylesheet"
/>
<ion-header>
  <ion-title>
    <div id="titre">
      <div>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div id="myturn"><img class="ticket" src="assets/ticketAcc.png"></div>
      <a class="user1" [routerLink]="['/connexion']" id="connect"><img class="user" src="assets/user.png" alt="" /></a>
    </div>
  </ion-title>
</ion-header>
<ion-content>
  <div id="fond">
    <div class="info">
      <p>Bienvenue {{ email }}</p>
    </div>
    <div class="info"><p>L'appli pour rejoindre votre file d'attente !</p></div>
    <div class="recherche">
      <ion-input type="search" id="search" placeholder="Recherche"
        ><img src="" alt=""
      /></ion-input>
      <ion-icon class="loupe" name="search"></ion-icon>
    </div>
    <div class="qrcode">
      <img (click)="starQR()" class="code" src="assets/qrcode.png" alt="" />
    </div>
    <div class="plan"><img class="map" src="assets/plan.png" alt="" /></div>
  </div>
</ion-content>
